body {
    padding: 20px;
    margin: 20px;
    border: 2px solid red;
}

h3 {
    color: blue;
}

ul {
    list-style-type: circle;
}

ul li {
    color: green;
}

#list-1 {
    color: chocolate;
}
#list-2 {
    color: aqua;
}
#list-3 {
    color: darkblue;
}
#list-4 {
    color: darksalmon;
}

p {
    font-style: italic;
}
ul {
    background: red;
}